<h1 class="text-center mt-4"><%= @user.username %>'s Page</h1>

<div class="container">

  <div class="row justify-content-md-center">
    <div class="col-8 mt-4 mb-4">
      <%= gravatar_for @user, size: 150 %>
    </div>
  </div>
  <h4 align="center"><%= @user.username %>'s articles</h4>
  <%= render 'articles/article', obj: @user.articles %>

</div>
