<h1 class="text-center mt-4">Articles</h1>

<div class="container">

  <div class="row justify-content-center">
    <div class="col-4 mt-4">

      <div class="row mt-4 justify-content-center">
        <%= will_paginate(@category, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
      </div>
      <% @categories.each do |category| %>
        <div class="list-group text-center">
          <li class="list-group-item article-title">
            <%= link_to "#{category.name}", category_path(category) %>
            <span class="badge"><%= category.articles.count %></span>
          </li>
        </div>
      <% end %>
      <div class="row mt-4 justify-content-center">
        <%= will_paginate(@category, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
      </div>

    </div>
  </div>

</div>
